services:
  api:
    build: .
    ports:
      - "3000:3000"
    environment:
      OPENAI_API_KEY:
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: RenzDungo
      POSTGRES_PASSWORD: Renziscool2
      POSTGRES_DB: jobappdb
    ports:
      - "5432:5432"
    volumes:
      - dbVol:/var/lib/postgresql/data

  frontend:
    build: ./frontend
    ports:
    - "5400:80"
    depends_on:
    - api
volumes:
  dbVol:
